#waifu {
    position: fixed;
    right: 0;
    bottom: -20px;
    z-index: 9999;
    width: 300px;
    height: 400px;
    max-width: 50vw;
    user-select: none;
    transform: translateY(3px);
    transition: transform .3s ease-in-out;
}

#waifu:hover {
    transform: translateY(0);
}

#waifu-tips {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 300px;
    padding: 5px 10px;
    border: 1px solid rgba(224,186,140,.62);
    border-radius: 12px;
    background-color: rgba(236,217,188,.5);
    box-shadow: 0 3px 15px 2px rgba(191,158,118,.2);
    text-align: left;
    font-size: 14px;
    color: #855;
    opacity: 0;
    transition: opacity .3s;
    pointer-events: none;
}

#waifu-tool {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    background-color: rgba(236,217,188,.5);
    border-radius: 12px 0 0 0;
    display: flex;
    gap: 10px;
    opacity: 0;
    transition: opacity .3s;
}

#waifu:hover #waifu-tool {
    opacity: 1;
}

#waifu:hover #waifu-tips {
    opacity: 1;
}

.waifu-tool-item {
    cursor: pointer;
    color: #855;
    font-size: 16px;
    transition: color .3s;
}

.waifu-tool-item:hover {
    color: #c46;
}

@media (max-width: 768px) {
    #waifu {
        transform: scale(0.7) translateY(3px);
        transform-origin: bottom right;
        right: -20px;
    }
    
    #waifu:hover {
        transform: scale(0.7) translateY(0);
    }
}